@using Microsoft.EntityFrameworkCore;
@using IndustrialContoroler.Models.Repositories;
@model HelpMaterial;
@inject IRepository<HelpMaterial> helpMaterial;

@{
    var HmId = ViewData["MaId"];
    var helpMaterialData = helpMaterial.GetAllFaData(hm => hm.FaId.Equals(ViewData["FaId"]) && hm.IsDeleted == false).ToList();
}


<div class="col-xxl " data-select2-id="30" id="statistic_2">
    <div class="card mb-4 ms-3 me-3" data-select2-id="29">
        <h5 style="background-color: rgb(82, 134, 203); color: azure;" class="card-header">تعديل المادة المساعدة رقم @HmId</h5>

        <form method="post" class=" mb-4 mt-3 ms-3 me-3">
            <div class="d-flex justify-content-between">

                <div class="row g-3">

                    <input asp-for="HmId" hidden />
                    <input asp-for="FaId" hidden />

                        <div class="col-md-4">
                            <label asp-for="HmName" class="form-label fs-5">اسم المادة المساعدة</label>
                            <input asp-for="HmName" class="form-control" placeholder="اسم المادة الخام" />
                            <span asp-validation-for="HmName" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="HmMeasruingUnit" class="form-label fs-5">وحدة القياس</label>
                            <input asp-for="HmMeasruingUnit" class="form-control" placeholder="وحدة القياس" />
                            <span asp-validation-for="HmMeasruingUnit" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="HmPercentInPro" class="form-label fs-5">ن.م في المنتج</label>
                            <input asp-for="HmPercentInPro" class="form-control" placeholder="النسبة المئوية في المنتج" />
                            <span asp-validation-for="HmPercentInPro" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="HmAmountUsed" class="form-label fs-5">الكمية المستخدمة سنوياً</label>
                            <input asp-for="HmAmountUsed" class="form-control" placeholder="الكمية المستخدمة سنوياً" />
                            <span asp-validation-for="HmAmountUsed" class="text-danger"></span>
                        </div>


                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="HmSource" class="form-label fs-5">المصدر</label>
                                <select asp-for="HmSource" class="select2 form-select form-select-lg fs-5">
                                    <option value=Null disabled selected hidden>حدد مصدر المادة الخام</option>
                                    <option value="مستورد">مستورد</option>
                                    <option value="محلي">محلي</option>
                                </select>
                                <span asp-validation-for="HmSource" class="text-danger"></span>
                            </div>
                        </div>

                        

                        <div class="row-md-6">
                            <label asp-for="HmNotes" class="form-label fs-5">ملاحظات</label>
                            <textarea asp-for="HmNotes" class="form-control" rows="1" placeholder="أكتب أي ملاحظات أخرى"></textarea>
                        </div>

                        <div class="col justify-content-center">
                            <button type="submit" class="btn btn-primary me-1 me-sm-2"
                                    asp-action="EditHelpMaterials" asp-controller="FieldVisitForms">
                                تعديل
                            </button>
                        </div>

                    </div>


                </div>
        </form>
    </div>
</div>