@using Microsoft.EntityFrameworkCore;
@using IndustrialContoroler.Models.Repositories;
@model Building;
@inject IRepository<Building> buildings;

@{
    var BuId = ViewData["BuId"];
    var BuData = buildings.GetAllFaData(fa => fa.FaId.Equals(ViewData["FaId"]) && fa.IsDeleted == false).ToList();
}


<div class="col-xxl " data-select2-id="30" id="statistic_2">
    <div class="card mb-4 ms-3 me-3" data-select2-id="29">
        <h5 style="background-color: rgb(82, 134, 203); color: azure;" class="card-header">تعديل المبنى رقم @BuId</h5>

        <form method="post" class=" mb-4 mt-3 ms-3 me-3">
            <div class="d-flex justify-content-between">

                <div class="row g-3">

                    <div class="col-md-4">
                        <label asp-for="BuOwnership" class="form-label fs-5">ملكية المبنى</label>
                        <select asp-for="BuOwnership" class="select2 form-select form-select-lg fs-5" >
                            <option value=Null disabled selected hidden>حدد ملكية المبنى</option>
                            <option value="خاص">خاص</option>
                            <option value="إيجار">إيجار</option>
                        </select>
                        <span asp-validation-for="BuOwnership" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuDescription" class="form-label fs-5">وصف المبنى</label>
                        <input asp-for="BuDescription" class="form-control" placeholder="وصف المبنى" id="BuDescription" />
                        <span asp-validation-for="BuDescription" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuLocation" class="form-label fs-5">موقع المبنى</label>
                        <input asp-for="BuLocation" class="form-control" placeholder="موقع المبنى" id="BuLocation" />
                        <span asp-validation-for="BuLocation" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuType" class="form-label fs-5">نوعية البناء</label>
                        <input asp-for="BuType" class="form-control" placeholder="نوعية البناء" id="BuType" />
                        <span asp-validation-for="BuType" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuLength" class="form-label fs-5">طول المبنى</label>
                        <input asp-for="BuLength" class="form-control" placeholder="طول المبنى بالمتر " id="BuLength" />
                        <span asp-validation-for="BuLength" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuWidth" class="form-label fs-5">عرض المبنى</label>
                        <input asp-for="BuWidth" class="form-control" placeholder="عرض المبنى بالمتر " id="BuWidth" />
                        <span asp-validation-for="BuWidth" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuHigh" class="form-label fs-5">ارتفاع المبنى</label>
                        <input asp-for="BuHigh" class="form-control" placeholder="ارتفاع المبنى بالمتر " id="BuHigh" />
                        <span asp-validation-for="BuHigh" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BuArea" class="form-label fs-5">مساحة المبنى</label>
                        <input asp-for="BuArea" class="form-control" placeholder="مساحة المبنى" id="BuArea" />
                        <span asp-validation-for="BuArea" class="text-danger"></span>
                    </div>

                    <input asp-for="FaId" class="form-control" hidden />
                    <input asp-for="BuId" class="form-control" hidden />

                    <div class="raw-md-4">
                        <label asp-for="BuNotes" class="form-label fs-5">ملاحظات</label>
                        <textarea asp-for="BuNotes" class="form-control" rows="3" placeholder="أكتب أي ملاحظات أخرى" id="BuNotes"></textarea>
                    </div>

                    <div class="col justify-content-center">
                        <button type="submit" class="btn btn-primary me-1 me-sm-2"
                                asp-action="EditBuilding" asp-controller="FieldVisitForms">
                            تعديل
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>