@using Microsoft.EntityFrameworkCore;
@using IndustrialContoroler.Models.Repositories;
@model Worker;
@inject IRepository<Worker> workers;

@{
    var WoId = ViewData["WoId"];
    var WoData = workers.GetAllFaData(wo => wo.FaId.Equals(ViewData["FaId"]) && wo.IsDeleted == false).ToList();
}


<div class="col-xxl " data-select2-id="30" id="statistic_2">
    <div class="card mb-4 ms-3 me-3" data-select2-id="29">
        <h5 style="background-color: rgb(82, 134, 203); color: azure;" class="card-header">تعديل العمالة رقم @WoId</h5>

        <form method="post" class=" mb-4 mt-3 ms-3 me-3">
            <div class="d-flex justify-content-between">

                <div class="row g-3">

                    <div class="col-md-4">

                        <input asp-for="WoId" hidden/>
                        <input asp-for="FaId"  hidden/>

                                        <label asp-for="WoType" class="form-label fs-5">نوعية العمالة</label>
                                        <input asp-for="WoType" class="form-control" placeholder="نوعية العاملين" />
                                        <span asp-validation-for="WoType" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="WoTotal" class="form-label fs-5">العدد الاجمالي</label>
                                        <input asp-for="WoTotal" class="form-control" placeholder="العدد الاجمالي للعمالة" />
                                        <span asp-validation-for="WoTotal" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label asp-for="WoMaleNumber" class="form-label fs-5">عدد الذكور</label>
                                        <input asp-for="WoMaleNumber" class="form-control" placeholder="عدد الذكور" />
                                        <span asp-validation-for="WoMaleNumber" class="text-danger"></span>
                                    </div>


                                    <div class="col-md-4">
                                        <label asp-for="WoFemaleNumber" class="form-label fs-5">عدد الاناث</label>
                                        <input asp-for="WoFemaleNumber" class="form-control" placeholder="عدد الاناث" />
                                        <span asp-validation-for="WoFemaleNumber" class="text-danger"></span>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label asp-for="WoEduQualifying" class="form-label fs-5">المؤهل التعليمي</label>
                                            <select asp-for="WoEduQualifying" class="select2 form-select form-select-lg fs-5">
                                                <option value=Null disabled selected hidden>حدد المؤهل التعليمي</option>
                                                <option value="ثانوية عامه">ثانوية عامه</option>
                                                <option value="بكالوريوس">بكالوريوس</option>
                                                <option value="ماجستير">ماجستير</option>
                                                <option value="دكتوراه">دكتوراه</option>
                                                <option value="لايوجد">لايوجد</option>
                                            </select>
                                            <span asp-validation-for="WoEduQualifying" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <label asp-for="WoSpecialization" class="form-label fs-5">التخصص</label>
                                        <input asp-for="WoSpecialization" class="form-control" placeholder="التخصص" />
                                        <span asp-validation-for="WoSpecialization" class="text-danger"></span>
                                    </div>


                                    <div class="col-md-4">
                                        <label asp-for="WoNationality" class="form-label fs-5">جنسية العمالة</label>
                                        <select asp-for="WoNationality" class="select2 form-select form-select-lg fs-5">
                                            <option value=Null disabled selected hidden>حدد جنيسة العمالة</option>
                                            <option value="YE">اليمن</option>
                                            <option value="DZ">الجزائر</option>
                                            <option value="BH">البحرين</option>
                                            <option value="EG">مصر</option>
                                            <option value="IQ">العراق</option>
                                            <option value="JO">الأردن</option>
                                            <option value="KW">الكويت</option>
                                            <option value="LB">لبنان</option>
                                            <option value="LY">ليبيا</option>
                                            <option value="MA">المغرب</option>
                                            <option value="OM">عُمان</option>
                                            <option value="PS">فلسطين</option>
                                            <option value="AE">الإمارات العربية المتحدة</option>
                                            <option value="TN">تونس</option>
                                            <option value="SY">سوريا</option>
                                            <option value="SD">السودان</option>
                                            <option value="SS">جنوب السودان</option>
                                            <option value="SA">المملكة العربية السعودية</option>
                                            <option value="QA">قطر</option>
                                            <option value="SO">الصومال</option>
                                            <option value="DJ">جيبوتي</option>
                                            <option value="AX">جزر أولان</option>
                                            <option value="AL">ألبانيا</option>
                                            <option value="AS">ساموا الأمريكية</option>
                                            <option value="AD">أندورا</option>
                                            <option value="AO">أنغولا </option>
                                            <option value="AI">أنغويلا </option>
                                            <option value="AQ">أنتاركتيكا </option>
                                            <option value="AG">أنتيغوا وبربودا</option>
                                            <option value="AR">الأرجنتين</option>
                                            <option value="AM">أرمينيا</option>
                                            <option value="AW">اوروبا</option>
                                            <option value="AU">أستراليا</option>
                                            <option value="AT">النمسا</option>
                                            <option value="AZ">أذربيجان</option>
                                            <option value="BS">الباهاما</option>
                                            <option value="BD">بنجلاديش</option>
                                            <option value="BB">بربادوس</option>
                                            <option value="BY">روسيا البيضاء</option>
                                            <option value="BE">بلجيكا</option>
                                            <option value="BZ">بليز </option>
                                            <option value="BJ">بنين</option>
                                            <option value="BM">برمودا</option>
                                            <option value="BT">بوتان</option>
                                            <option value="BO">بوليفيا </option>
                                            <option value="BQ">هولندا الكاريبية</option>
                                            <option value="BA">البوسنة والهرسك</option>
                                            <option value="BW">بتسوانا</option>
                                            <option value="BV">جزيرة بوفيه</option>
                                            <option value="BR">البرازيل</option>
                                            <option value="IO">الإقليم البريطاني في المحيط الهندي</option>
                                            <option value="BN">بروناي</option>
                                            <option value="BG">بلغاريا</option>
                                            <option value="BF">بوركينا فاسو</option>
                                            <option value="BI">بوروندي</option>
                                            <option value="KH">كمبوديا</option>
                                            <option value="CM">الكاميرون</option>
                                            <option value="CA">كندا</option>
                                            <option value="CV">الرأس الأخضر</option>
                                            <option value="KY">جزر الكايمن</option>
                                            <option value="CF">جمهورية أفريقيا الوسطى</option>
                                            <option value="TD">تشاد</option>
                                            <option value="CL">شيلي</option>
                                            <option value="CN">الصين</option>
                                            <option value="CX">جزيرة الكريسماس</option>
                                            <option value="CC">جزر كوكوس</option>
                                            <option value="CO">كولومبيا</option>
                                            <option value="KM">جزر القمر</option>
                                            <option value="CG">الكونغو - برازافيل</option>
                                            <option value="CD">الكونغو - كينشاسا</option>
                                            <option value="CK">جزر كوك</option>
                                            <option value="CR">كوستاريكا</option>
                                            <option value="CI">ساحل العاج</option>
                                            <option value="HR">كرواتيا</option>
                                            <option value="CU">كوبا</option>
                                            <option value="CW">كوراساو</option>
                                            <option value="CY">قبرص</option>
                                            <option value="CZ">جمهورية التشيك</option>
                                            <option value="DK">الدنمارك</option>
                                            <option value="DM">دومينيكا</option>
                                            <option value="DO">جمهورية الدومينيك</option>
                                            <option value="EC">الإكوادور</option>
                                            <option value="SV">السلفادور</option>
                                            <option value="GQ">غينيا الإستوائية</option>
                                            <option value="ER">أريتريا</option>
                                            <option value="EE">أستونيا</option>
                                            <option value="ET">إثيوبيا</option>
                                            <option value="FK">جزر فوكلاند</option>
                                            <option value="FO">جزر فارو</option>
                                            <option value="FJ">فيجي</option>
                                            <option value="FI">فنلندا</option>
                                            <option value="FR">فرنسا</option>
                                            <option value="GF">غويانا الفرنسية</option>
                                            <option value="PF">بولينيزيا الفرنسية</option>
                                            <option value="TF">المقاطعات الجنوبية الفرنسية</option>
                                            <option value="GA">الغابون</option>
                                            <option value="GM">غامبيا</option>
                                            <option value="GE">جورجيا</option>
                                            <option value="DE">ألمانيا</option>
                                            <option value="GH">غانا</option>
                                            <option value="GI">جبل طارق</option>
                                            <option value="GR">اليونان</option>
                                            <option value="GL">غرينلاند</option>
                                            <option value="GD">غرينادا</option>
                                            <option value="GP">جوادلوب</option>
                                            <option value="GU">غوام</option>
                                            <option value="GT">غواتيمالا</option>
                                            <option value="GG">غيرنزي</option>
                                            <option value="GN">غينيا</option>
                                            <option value="GW">غينيا بيساو</option>
                                            <option value="GY">غيانا </option>
                                            <option value="HT">هايتي</option>
                                            <option value="HM">جزيرة هيرد وجزر ماكدونالد</option>
                                            <option value="VA">الفاتيكان</option>
                                            <option value="HN">هندوراس</option>
                                            <option value="HK">هونغ كونغ</option>
                                            <option value="HU">هنغاريا</option>
                                            <option value="IS">أيسلندا</option>
                                            <option value="IN">الهند</option>
                                            <option value="ID">أندونيسيا</option>
                                            <option value="IR">ایران</option>
                                            <option value="IE">أيرلندا</option>
                                            <option value="IM">جزيرة مان</option>
                                            <option value="IT">إيطاليا</option>
                                            <option value="JM">جامايكا</option>
                                            <option value="JP">اليابان</option>
                                            <option value="JE">جيرسي</option>
                                            <option value="KZ">كازاخستان</option>
                                            <option value="KE">كينيا </option>
                                            <option value="KI">كيريباتي </option>
                                            <option value="KP">كوريا الشمالية</option>
                                            <option value="KR">كوريا الجنوبية </option>
                                            <option value="KG">قرغيزستان</option>
                                            <option value="LA">لاوس</option>
                                            <option value="LV">لاتفيا</option>
                                            <option value="LS">ليسوتو</option>
                                            <option value="LR">ليبيريا</option>
                                            <option value="LI">ليختنشتاين</option>
                                            <option value="LT">ليتوانيا</option>
                                            <option value="LU">لوكسمبورغ</option>
                                            <option value="MO">مكاو</option>
                                            <option value="MK">مقدونيا</option>
                                            <option value="MG">مدغشقر</option>
                                            <option value="MW">ملاوي</option>
                                            <option value="MY">ماليزيا</option>
                                            <option value="MV">جزر المالديف</option>
                                            <option value="ML">مالي </option>
                                            <option value="MT">مالطا</option>
                                            <option value="MH">جزر المارشال</option>
                                            <option value="MQ">مارتينيك</option>
                                            <option value="MR">موريتانيا</option>
                                            <option value="MU">موريشيوس</option>
                                            <option value="YT">مايوت</option>
                                            <option value="MX">المكسيك</option>
                                            <option value="FM">ميكرونيزيا </option>
                                            <option value="MD">مولدافيا</option>
                                            <option value="MC">موناكو</option>
                                            <option value="MN">منغوليا</option>
                                            <option value="ME">الجبل الأسود</option>
                                            <option value="MS">مونتسرات </option>
                                            <option value="MZ">موزمبيق</option>
                                            <option value="MM">ميانمار -بورما</option>
                                            <option value="NA">ناميبيا </option>
                                            <option value="NR">ناورو</option>
                                            <option value="NP">نيبال </option>
                                            <option value="NL">هولندا</option>
                                            <option value="NC">كاليدونيا الجديدة</option>
                                            <option value="NZ">نيوزيلاندا</option>
                                            <option value="NI">نيكاراغوا</option>
                                            <option value="NE">النيجر </option>
                                            <option value="NG">نيجيريا</option>
                                            <option value="NU">نيوي</option>
                                            <option value="NF">جزيرة نورفوك</option>
                                            <option value="MP">جزر ماريانا الشمالية </option>
                                            <option value="NO">النرويج</option>
                                            <option value="PK">باكستان</option>
                                            <option value="PW">بالاو</option>
                                            <option value="PA">بنما</option>
                                            <option value="PG">بابوا غينيا الجديدة</option>
                                            <option value="PY">باراغواي </option>
                                            <option value="PE">بيرو  </option>
                                            <option value="PH">الفيلبين  </option>
                                            <option value="PN">جزر بيتكيرن </option>
                                            <option value="PL">بولندا  </option>
                                            <option value="PT">البرتغال  </option>
                                            <option value="PR">بورتوريكو </option>
                                            <option value="RE">روينيون  </option>
                                            <option value="RO">رومانيا  </option>
                                            <option value="RU">روسيا  </option>
                                            <option value="RW">رواندا  </option>
                                            <option value="BL">سان بارتليمي  </option>
                                            <option value="SH">سانت هيلنا </option>
                                            <option value="KN">سانت كيتس ونيفيس  </option>
                                            <option value="LC">سانت لوسيا  </option>
                                            <option value="MF">سانت مارتن  </option>
                                            <option value="PM">سانت بيير وميكولون  </option>
                                            <option value="VC">سانت فنسنت وغرنادين </option>
                                            <option value="WS">ساموا </option>
                                            <option value="SM">سان مارينو </option>
                                            <option value="ST">ساو تومي وبرينسيبي </option>
                                            <option value="SN">السنغال  </option>
                                            <option value="RS">صربيا </option>
                                            <option value="SC">سيشل </option>
                                            <option value="SL">سيراليون </option>
                                            <option value="SG">سنغافورة  </option>
                                            <option value="SX">سينت مارتن  (</option>
                                            <option value="SK">سلوفاكيا  </option>
                                            <option value="SI">سلوفينيا </option>
                                            <option value="SB">جزر سليمان </option>
                                            <option value="ZA">جنوب أفريقيا</option>
                                            <option value="GS">جورجيا الجنوبية وجزر ساندويتش الجنوبية</option>
                                            <option value="ES">إسبانيا </option>
                                            <option value="LK">سريلانكا</option>
                                            <option value="SR">سورينام</option>
                                            <option value="SJ">سفالبارد وجان مايان</option>
                                            <option value="SZ">سوازيلاند </option>
                                            <option value="SE">السويد</option>
                                            <option value="CH">سويسرا</option>
                                            <option value="TW">تايوان</option>
                                            <option value="TJ">طاجكستان</option>
                                            <option value="TZ">تانزانيا </option>
                                            <option value="TH">تايلند</option>
                                            <option value="TL">تيمور الشرقية</option>
                                            <option value="TG">توجو</option>
                                            <option value="TK">توكيلو</option>
                                            <option value="TO">تونغا</option>
                                            <option value="TT">ترينيداد وتوباغو</option>
                                            <option value="TR">تركيا </option>
                                            <option value="TM">تركمانستان </option>
                                            <option value="TC">جزر الترك وجايكوس</option>
                                            <option value="TV">توفالو</option>
                                            <option value="UG">أوغندا</option>
                                            <option value="UA">أوكرانيا</option>
                                            <option value="GB">المملكة المتحدة </option>
                                            <option value="US">الولايات المتحدة </option>
                                            <option value="UM">جزر الولايات المتحدة البعيدة الصغيرة</option>
                                            <option value="UY">أورغواي</option>
                                            <option value="UZ">أوزبكستان </option>
                                            <option value="VU">فانواتو </option>
                                            <option value="VE">فنزويلا </option>
                                            <option value="VN">فيتنام</option>
                                            <option value="VG">جزر فرجين البريطانية</option>
                                            <option value="VI">جزر فرجين الأمريكية</option>
                                            <option value="WF">جزر والس وفوتونا</option>
                                            <option value="EH">الصحراء الغربية</option>
                                            <option value="ZM">زامبيا</option>
                                            <option value="ZW">زيمبابوي</option>
                                        </select>
                                        <span asp-validation-for="WoNationality" class="text-danger"></span>
                                    </div>


                                    <input asp-for="FaId" value="1" hidden />


                                    <div class="col-md-8">
                                        <label asp-for="WoNotes" class="form-label fs-5">ملاحظات</label>
                                        <textarea asp-for="WoNotes" class="form-control" rows="1" placeholder="أكتب أي ملاحظات أخرى"></textarea>
                                    </div>

                    <div class="col justify-content-center">
                        <button type="submit" class="btn btn-primary me-1 me-sm-2"
                                asp-action="EditWorker" asp-controller="FieldVisitForms">
                            تعديل
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>